#
# Copyright (c) 2023 ModalAI, Inc.
#

[Unit]
Description=voxl-camera-server
SourcePath=/usr/bin/voxl-camera-server
After=voxl-wait-for-fs.service
Requires=voxl-wait-for-fs.service

[Service]
User=root
Type=simple
PIDFile=/run/voxl-camera-server.pid
ExecStart=/usr/bin/voxl-camera-server

# allow restarting on failure, but limit this to 3 retries per 30 second period
Restart=on-failure
RestartSec=2s
StartLimitBurst=3
StartLimitInterval=30s

[Install]
WantedBy=multi-user.target

