#
# Copyright (c) 2022 ModalAI, Inc.
#

[Unit]
Description=voxl-imu-server
SourcePath=/usr/bin/voxl-imu-server
After=voxl-wait-for-fs.service
Requires=voxl-wait-for-fs.service

[Service]
User=root
Type=simple
PIDFile=/run/voxl-imu-server.pid
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/voxl-imu-server

[Install]
WantedBy=multi-user.target

